<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581823059784-osue0d6d2c7e8k16l07ib812smig64c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581823059784-osue0d6d2c7e8k16l07ib812smig64c8</string>
	<key>API_KEY</key>
	<string>AIzaSyA4TyZX6NWl6el5WYJoMOfOVAoPLh78WqE</string>
	<key>GCM_SENDER_ID</key>
	<string>581823059784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciftlik.ciftlikYonetim</string>
	<key>PROJECT_ID</key>
	<string>ciftlik-yonetim-1</string>
	<key>STORAGE_BUCKET</key>
	<string>ciftlik-yonetim-1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581823059784:ios:147e7d39c617a16e15857d</string>
</dict>
</plist>